@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");

.topNavigationBar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.iconContainer.logo {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.iconContainer{
    cursor: pointer;
}

.navContainter{
    display: flex
    ;
    height: 100%;
    flex-direction: column;
    padding: 0  .5rem;

    
}

.leftSideNavigationBar{
    height: 100vh;
        width:100%;
        max-width:13rem;

        display: flex;
        flex-direction: column;
        gap:50px
}

.top{
    flex-basis: 10%;
}
.center{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    gap:20px
}
.bottom{
    flex-basis: 10%;
}

.menuItem:hover{
    background-color: rgb(213, 213, 213);
    padding: 8px;
    border-radius: 8px;
}

.menuItem{
    padding: 8px;
    cursor: pointer;
}