.leftSideNavigationBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px 16px;
  border-right: 1px solid #eee;
}

/* Logo */
.logo {
  flex-basis:20%;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

/* Nav container */
.navContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Center menu */
.center {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-basis: 80%;
}

/* Menu item */
.menuItem {
  display: flex;
  align-items: center;
}

/* Bottom (sticks to bottom) */
.bottom {
  margin-top: auto;
}


.menuItem:hover{
    background-color: rgba(234, 234, 234, 0.415);
    padding: 8px;
    border-radius: 8px;
}

.menuItem{
    cursor: pointer;
        padding: 8px;

}
