@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");

.topNavigationBar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.iconContainer.logo {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.iconContainer{
    cursor: pointer;
}

.navContainter{
    display: flex
    ;
    height: 100%;
    flex-direction: column;

    
}

.leftSideNavigationBar{
    height: 100vh;
    border: 2px solid red;
        width:100%;
        max-width:13rem

}

.top{
    flex-basis: 10%;
}
.center{
    flex-basis: 80%;
}
.bottom{
    flex-basis: 10%;
}