@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");


:root {
  /* Primary colors */
  --color-primary: #2563eb;
  --color-secondary: #9333ea;

  /* Neutral colors */
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-text: #111827;
  --color-text-white: #eeeeee;
  --color-muted-text-default: #6b7280;
  

  /* Status colors */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;

  --color-defaultAddButton: #9c9c9c;
  --colour-display-bg-default:#f5f5f5;
  --colour-border-default:#535353;
    --font-mono: "IBM Plex Mono", monospace;

}


*{
    transition: filter 0.3s ease-in-out;
    
}

body{
    font-family: var(--font-mono);

}