@import "../../colour-pallet.css";

.addButton{
    color: black;
    display:flex
    ;
    justify-content: center;
    align-items: center;
    min-width: 2.8rem;
    max-width: fit-content;
    font-size: 1.3rem;
    background-color: transparent;
    border-radius: 20px 20px 20px 20px;
    padding:8px;
    padding-right: 12px;
    gap:10px;

    border: 1px solid transparent;

}
.addButton span{
    font-size: .8rem;
    font-weight: 500;

}

.addButton svg{
    width: 1.3rem;
    height: 1.3rem;
    
}

.addButton:hover{
    cursor: pointer;
    filter: brightness(110%);
}

.button--primary{
    background-color: #313131;
    color:#e9e9e9


}



.button--secondary{
    text-decoration: underline;
}