@import "../../colour-pallet.css";

.addButton{
    color: var(--color-text);
    display:flex
    ;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    max-width: 70px;
    max-height: 70px;
    min-width: 40px;
    min-height: 40px;
    font-size: 2rem;

    border-radius: 50%;
    border: 2px solid black


}

.addButton svg{
    width: 2rem;
    height: 2rem;
}

.addButton:hover{
    cursor: pointer;
    filter: brightness(110%);
}