.label h1{
    font-weight: 100;
}
.label-container{
    width: 100%;
    justify-content: center;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.label-container >.content >.entryDisplay{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 700px !important;
    align-items: center;
}

.label-container>.content{
    width: 100%;
    justify-content: center;

    display: flex;


}
