@import '../../colour-pallet.css';

.entryDisplay{
    background-color: var(--colour-container-bg-default);
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}

.timestamp{
    font-size: 0.8rem;
    padding: 5px;
    color: rgb(117, 117, 117);
    letter-spacing: .1rem;
}

.contentContainer{
    display:flex;
    width: 100%;
    min-height: 10rem;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
     -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.52);
  max-width: 600px;

  
}

.content{
    padding: 20px;
    font-size: 1rem;
}