.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px;
    
}

.greeting{

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20px;
    
}

