.linkContainer{
    display: flex;
    ;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    color: var(--color-text);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.linkContainer a{
    font-style: none;
    text-decoration: none;
    color: var(--color-text);
}