@import '../../colour-pallet.css';

.card{
    width: fit-content;
    min-width: 16rem;
    min-height: 12rem;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.52);
    margin: 10px;

}
